# Nama : Hafizh Hilman Asyhari
Kelas : D
NIM : 202331206
Mata Kuliah : Pembelajaran Mesin
UTS
PROYEK UTS PEMBELAJARAN MESIND

## Import library yang relevan

In [36]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix

## Load the data

In [30]:
dataset = pd.read_csv('K02_diabetes.csv', sep = ';')
dataset

      gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0                  Female,80.0,0,1,never,25.19,6.6,140,0
1                 Female,54.0,0,0,No Info,27.32,6.6,80,0
2                    Male,28.0,0,0,never,27.32,5.7,158,0
3                Female,36.0,0,0,current,23.45,5.0,155,0
4                  Male,76.0,1,1,current,20.14,4.8,155,0
...                                                  ...
99995             Female,80.0,0,0,No Info,27.32,6.2,90,0
99996             Female,2.0,0,0,No Info,17.37,6.5,100,0
99997               Male,66.0,0,0,former,27.83,5.7,155,0
99998              Female,24.0,0,0,never,35.42,4.0,100,0
99999             Female,57.0,0,0,current,22.43,6.6,90,0

[100000 rows x 1 columns]

## Jadi ini beberapa baris pertama

In [46]:
print(dataset.head())

  gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0              Female,80.0,0,1,never,25.19,6.6,140,0
1             Female,54.0,0,0,No Info,27.32,6.6,80,0
2                Male,28.0,0,0,never,27.32,5.7,158,0
3            Female,36.0,0,0,current,23.45,5.0,155,0
4              Male,76.0,1,1,current,20.14,4.8,155,0

## Jadi saya akan menampilkan informasi umum tentang dataset

In [48]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 1 columns):
 #   Column                                                                                              Non-Null Count   Dtype
---  ------                                                                                              --------------   -----
 0   gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes  100000 non-null  object
dtypes: object(1)
memory usage: 781.4+ KB
None

## Tampilkan statistik deskriptif

In [61]:
print(dataset.describe())

       gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
count                                              100000
unique                                              96146
top                Female,80.0,0,0,No Info,27.32,6.2,90,0
freq                                                    9

## Data PRE--PROCESSING

## Saya sedang makukan preprocessing data untuk memastikan bahwa data siap untuk analisis.

In [68]:
print(dataset.isnull().sum())

gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes    0
dtype: int64

## Normalisasi atau standardisasi data jika diperlukan

In [101]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
dataset[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = scaler.fit_transform(dataset[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']])

KeyError: "None of [Index(['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI'], dtype='object')] are in the [columns]"

# Babak Baru Pembagian Data

In [94]:
from sklearn.model_selection import train_test_split

## Semacam Fitur dan target

In [97]:
X = data.drop('Outcome', axis=1)
y = data['Outcome']

NameError: name 'data' is not defined

## Pembagian data menjadi training dan testing

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

NameError: name 'X' is not defined

# Model Klasifikasi dengan Naive Bayes

## Saya dibawah ini akan melatih model menggunakan algoritma Naive Bayes.

In [108]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix

## Inisialisasi dan latih model Naive Bayes

In [111]:
model = GaussianNB()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

## Prediksinya ini

In [114]:
y_pred = model.predict(X_test)

NameError: name 'X_test' is not defined

## Evaluasi Modelnya

In [117]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

NameError: name 'y_test' is not defined

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt